<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
<!--    如果 SecurityConfig 配置中没有关闭 csrf 防护, 那么需要携带 csrf token 才能通过 csrf 验证-->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" th:if="${_csrf}" />
    用户名<input type="text" name="username123" /><br/>
    密码<input type="password" name="password123" /><br/>
    <input type="submit" value="登录" />
</form>
</body>
</html>